@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); /* Font import */

/* Root variables */
:root {
    --c-white: #fff;
    --c-black: #212529;
}

/* Whole body */
body {
    font-family: 'Ubuntu', sans-serif;
}

/* Sections general */
section {
    margin-bottom: 3rem;
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}

/* About section */
#about .social-links a {
    font-size: 20px;
    margin-right: 5px;
    color: var(--c-black);
    background-color: var(--c-white);
    border-radius: 5px;
    padding: 3px;
}

/* Skills section */
#skills .card img {
    width: 2rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#skills .card img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Resume section */
#resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px dashed var(--c-black);
    position: relative;
}
#resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--c-white);
    border: 2px solid var(--c-black);
}
#resume .resume-item:last-child {
    padding-bottom: 0;
}
#resume .resume-item h5 {
    line-height: 18px;
    margin-bottom: 10px;
}

/* Certifications section */
#certifications .carousel img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#certifications .carousel img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Portfolio section */
#portfolio .card img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
#portfolio .card img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Contact section */
#contact .card .address {
    margin-bottom: 30px;
}
#contact .card .phone {
    margin-bottom: 30px;
}
#contact .card .email {
    margin-bottom: 30px;
}
#contact .card .address i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: var(--c-black);
    color: var(--c-white);
}
#contact .card .phone i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: var(--c-black);
    color: var(--c-white);
}
#contact .card .email i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: var(--c-black);
    color: var(--c-white);
}
#contact .form-control:focus {
    border-color: var(--c-black);
}