/* Font import */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular.woff2') format('woff2'),
        url('../fonts/ubuntu-regular.woff') format('woff');
}

/* Whole body */
body {
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Sections general */
section {
    margin-bottom: 3rem;
}
.section-title {
    margin-bottom: 30px;
    text-align: center;
}

/* About section */
#about .social-links a {
    font-size: 28px;
    margin-right: 5px;
    color: #ffffff;
}

/* Skills section */
#skills .card img {
    width: 2rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#skills .card img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Resume section */
#resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px dashed #212529;
    position: relative;
}
#resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #ffffff;
    border: 2px solid #212529;
}
#resume .resume-item:last-child {
    padding-bottom: 0;
}
#resume .resume-item h5 {
    line-height: 18px;
    margin-bottom: 10px;
}

/* Certifications section */
#certifications .carousel img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#certifications .carousel img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Portfolio section */
#portfolio .card img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
#portfolio .card img:hover {
    filter: none;
    -webkit-filter: none;
}

/* Contact section */
#contact .card .address {
    margin-bottom: 30px;
}
#contact .card .phone {
    margin-bottom: 30px;
}
#contact .card .email {
    margin-bottom: 30px;
}
#contact .card .address i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: #212529;
    color: #ffffff;
}
#contact .card .phone i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: #212529;
    color: #ffffff;
}
#contact .card .email i {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 20px;
    background: #212529;
    color: #ffffff;
}
#contact .form-control:focus {
    border-color: #212529;
}